
body {
  background-image: url('bg.jpg');
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 150px;
}

.pages {
  color: white;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 5%;
  border: 20px solid white;
  border-radius: 20px;
}
